# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Thomas George
#	email = tgeorge@MTG13P.local
[user]
	name = Thomas George
	email = jorge0136@gmail.com
[alias]
	s = status
	l = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short
[core]
	excludesfile = /Users/tgeorge/.gitignore_global
[rerere]
	enabled = true
