<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>39C6A556-CE7B-4F51-B8E8-E296208FF6D2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dash</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Dash for '{query}'</string>
			<key>url</key>
			<string>dash://{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>83500C6F-B3F8-4E21-AB61-96ACE68D3916</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Mozilla%20Developer%20Network%20Search</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
