"*":
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      paintCursor: true
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "autoclose-html":
    makNeverCloseeSelfClosing: false
  core:
    disabledPackages: [
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/landonschropp/Development"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  "easy-motion-redux": {}
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_"
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  emmet: {}
  "exception-reporting":
    userId: "7bb49c66-5904-b674-8d8e-e18cff1293f4"
  "file-icons":
    onChanges: true
  linter: {}
  metrics:
    userId: "f50a9d7b89d275864375e05a0e26c4a98412a754"
  pigments:
    markerType: "square-dot"
  rspec:
    command: "bundle exec rspec"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.erb"
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    flashOnSearch: false
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    moveToFirstCharacterOnVerticalMotion: false
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
  whitespace: {}
".basic.html.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_"
    preferredLineLength: 100
    softWrapHangingIndent: 2
".erb.html.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_"
    preferredLineLength: 100
    softWrapHangingIndent: 2
