"*":
  "exception-reporting":
    userId: "7bb49c66-5904-b674-8d8e-e18cff1293f4"
  welcome:
    showOnStartup: false
  metrics:
    userId: "f50a9d7b89d275864375e05a0e26c4a98412a754"
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    invisibles: {}
  core:
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
    projectHome: "/Users/landonschropp/Development"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  whitespace:
    ensureSingleTrailingNewline: false
  "vim-mode":
    useSmartcaseForSearch: true
