'atom-text-editor.vim-mode-plus:not(.insert-mode)':

  # Reverse the behavior of up and down movements.
  'g k': 'vim-mode-plus:move-up'
  'g j': 'vim-mode-plus:move-down'
  'up': 'vim-mode-plus:move-up-screen'
  'down': 'vim-mode-plus:move-down-screen'
  'k': 'vim-mode-plus:move-up-screen'
  'j': 'vim-mode-plus:move-down-screen'

'atom-text-editor.vim-mode-plus.normal-mode':

  # Add gf behavior to vim-mode-plus
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
